body 
{
    font-family: Calibri;
    
}

.small 
{
    font-size: 14px;
    }
    
.medium 
{
    font-size:18px;
}

li
{
    padding-bottom:15px;
}
.err 
{
    color:Maroon;
}

.pagefooter 
{
    font-size:small;
}